<div style="text-align: center;">
    <h1>Cadastro de Opções</h1>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Nome da opção</mat-label>
          <input matInput placeholder="Ex: Jogos Mortais">
        </mat-form-field>
    </p>
    <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select>
          <mat-option value="one">Filmes</mat-option>
          <mat-option value="two">Roupas</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Cadastrar</button>
</div>